* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
/* Gaya navbar */
.containerMovie {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  padding-bottom: 20px;
}
.navbar {
  background-color: #1cb0f6; /* Warna latar belakang navbar */
  color: #282828; /* Warna teks navbar */
  display: flex;
  flex-direction: column;
}
.navbar .top {
  display: flex;
  flex: 1;
  padding: 10px;
  align-items: center;
}
.navbar .top .darkMode { flex: 1;}
.navbar .top .logo { flex: 1; }
.navbar .top .search { flex: 1.5;}
.navbar .top .search form { display:flex;  justify-content: flex-end;}
.navbar .top .search form input{ flex: 1}
.navbar .top .ham { flex: 1; justify-content: center; display: flex;}
.navbar .top .searchOn {
  display: none;
}
.navbar .bottom {
  display: none;
  background-color: #a1d6e2;
  flex: 1;
  padding: 20px;
}
.navbar .bottom .genreList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.navbar .bottom .genreList span {
  cursor: pointer;
}
.navbar .logo {
  flex: .4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}
.navbar .top .hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}
.navbar .top .hamburger span {
  height: 2px;
  background-color: #282828;
}
.navbar .top .hamburger .span1 { width: 90% }
.navbar .top .hamburger .span2 { width: 70% }
.navbar .top .hamburger .span3 { width: 100% }
.movieTitle {
  cursor: pointer;
}
.search input{
   width: 200px;
   height: 27px;
   border: none;
   padding-left: 10px;
}
.search button{
  color: #282828;
  padding: 5px 10px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  cursor: pointer;
} 
.navbar .bottom.on {
  display: flex;
  animation: drop 1s;
}

@keyframes drop {
  0% {
    transform: translateY(-50px);
  } 50% {
    transform: translateY(10px);
  } 100% {
    transform: none;
  }
}
.searchResult {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* ... CSS setelahnya ... */

/* Gaya dark mode */
.darkMode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}

/* Gaya div trending-films dan direkomendasikan */
.trending-films, .direkomendasikan {
  margin: 20px;
}

.film-item { /* Warna latar belakang film item */
  margin: 10px;
  padding: 10px;
  position: relative;
}
/* ... CSS sebelumnya ... */

/* Gaya hero section */
.hero-section {
  color: #eaeaea; /* Warna teks di hero section */
  height: 90vh;
  background-image: url("../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #333; /* Warna tombol CTA */
  color: #fff; /* Warna teks tombol CTA */
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555; /* Warna tombol CTA saat dihover */
}
/* Gaya card film */
.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.film-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 5px;
  margin: 10px;
  width: 200px;
  background-color: #1cb0f6;
  color: #282828;
}

.film-card img {
  max-width: 100%;
  height: auto;
}

.film-card h3 {
  margin-top: 10px;
}

.film-card p {
  color: #282828;
  margin-top: 5px;
  font-style: italic;
}

.btnShow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  padding: 10px 20px;
  border: none;
  background-color: rgb(0,180,0);
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
  cursor: pointer;
}
.btnShow:hover {
  background-color: rgb(0, 140, 0);
  transition: .3s;
}


/* ... CSS setelahnya ... */

@media only screen and (max-width: 500px) {
  .navbar .top {
    display: flex;
  }
  .navbar .top .darkMode {
    flex: 1;
  }  
  .navbar .top .logo {
    flex: 2;
  }  
  .navbar .top .searchOn {
    flex: .5;
  }
  .navbar .top .ham {
    flex: .5;
  }
  .navbar .top .searchOn {
    display: flex;
    color: #282828;
  }
  .search {
    display: none;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    background-color: #a1d6e2;
    top: 11%;
    width: 100%;
    padding: 5px 0;
  }
  .search form {
    display: flex;
    flex: 1;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .search form button {
  }
  .search form input {
    width: 80%;
    border: 2px solid #282828;
  }
  .hero-section h1 {
    font-size: 23px;
    margin-bottom: 10px;
  }

  .navbar .search.on {
    display: flex;
  }
  .navbar .search.darkMode {
    background-color: #982176;
  }
  .navbar .search.lightMode {
    background-color: #a1d6e2;
  }
  .hero-section p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .film-card {
    width: 90px;
  }
  .film-card h3 {
    font-size: 12px;
    margin-top: 10px;
  }

  .film-card p {
    font-size: 12px;
  }
  .footer .footer-content {
    flex-direction: column;
  }
}


/*detail section*/
.movie_card {
  display: flex;
  flex-direction: column;
  width: 98%;
  min-height: 70vh;
  margin: 10px auto;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}


.info_section {
  flex: 1;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
/*background: linear-gradient(to top, #e5e6e6 20%, transparent 100%);*/
  background-color: rgba(255, 255, 255, .6);
  padding-bottom: 20px;
}

.movie_header {
  padding: 25px;
  box-sizing: border-box;
}

.movie_header h1 {
  color: black;
  font-weight: 400;
}

.movie_header h4 {
  color: black;
  font-weight: 400;
}

.minutes {
  display: inline-block;
  margin-top: 15px;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.type {
  display: inline-block;
  color: black;
  margin-left: 10px;
}

.moviePoster {
  display: flex;
  padding:10px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
  gap: 30px;
}

.movie_desc {
  width: 80%;
  margin-left: 20px;
}

.movie_desc .text {
  color: black;
  text-align: justify;
  line-height: 23px;
}


.actorList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.actor_card {
  width: 100px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.actorImg {
  flex: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.actor_image {
  width: 100px;
  min-height: 100px;
}

.actor_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: .7;
  text-align: center;
}

.actor_name {
  font-size: 20px;
  font-weight: 500;
}

.actor_role {
  font-size: 14px;
  color: #777;
}

@media screen and (max-width: 700px) {
  .movie_card {
    background-position: center;
  }
  .movie_card .info_section .movie_header .moviePoster img {
    width: 100px;
    padding-top: 10px;
  }
  .movie_card .info_section .movie_header .moviePoster .detail h1 {
    font-size: 25px;
  }
  .actor_name {
    font-size: 16px;
    font-weight: 500;
  }
  
  .actor_role {
    font-size: 14px;
    color: #777;
  }

}
.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}

.tomb_back {
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}

.ave_back {
  background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}

.loading {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: skyblue;
  animation: 1s load infinite;
}
@keyframes load {
  0%{
    transform: rotate(0deg);
  } 50% {
    transform: rotate(180deg);
  } 100% {
    transform: rotate(360deg);
  }
}
/*.loading i:hover {
    transform: rotate(360deg);
  transition: .3s;
}*/

.goToYT{
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 220px;
  padding: 3px;
  justify-content: center;
  padding: 4px 0px;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, silver, gold);
  cursor: pointer;
  margin: auto;
  color: #eaeaea;
}

.resultInfo {
  font-size: 1.6em;
  padding: 20px;
}
.resultInfo .userInput {
  font-style: italic;
  color: red;
}



.footer {
  background-color: #1cb0f6; /* Warna latar belakang navbar */
  color: #282828; /* Warna teks navbar */
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 10px;
}

.footer-logo h3 {
  margin: 0;
}

.footer-links,
.footer-social {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.footer-links a,
.footer-social a {
  text-decoration: none;
  color: #282828;
  margin: 0 15px;
  font-size: 14px;
}

.footer-bottom {
  margin-top: 10px;
}
